@model Lyzic.Models.ArtistManager

@{
    ViewData["Title"] = "Details";
}


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
    <div class="az-content-left az-content-left-components">
        <div class="component-item">
        <label>Quản lý Thông báo</label>
        <nav class="nav flex-column">            
            <a href="#" class="nav-link active">Thông tin chung</a>
            <a href="#" class="nav-link">Bình luận</a>
            @* <a href="#" class="nav-link active">Thể loại</a> *@

        </nav>

        </div><!-- component-item -->

    </div><!-- az-content-left -->
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
        <div class="az-content-breadcrumb">
        <span>Artist</span>
        <span>Thông tin chung</span>
        <span>Chi tiết</span>
        </div>


        

        <div class="row">
            <div class="col-md-12">
                <div >
                    ID: @Html.DisplayFor(model => model.ID)
                </div>
                <div >
                    Nghệ Sĩ: @Html.DisplayFor(model => model.Name)
                </div>
                <div >
                    Tiểu sử: @Html.DisplayFor(model => model.Biography)
                </div>
                <div >
                    Ảnh đại diện: <img class="admin-img-review" src="@Url.Content(@Model.AvatarImageURI)" alt="">
                </div>
                <div >
                    Ngày tạo: @Html.DisplayFor(model => model.CreatedDate)
                </div>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        <div class="ht-40"></div>

   <div class="az-footer mg-t-auto">
        <div class="container">
            <span>&copy; 2019 Azia Responsive Bootstrap 4 Dashboard Template</span>
        </div><!-- container -->
        </div><!-- az-footer -->
    </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
