@model Lyzic.Models.MusicManager

@{
    ViewData["Title"] = "Create";
}


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
    <div class="az-content-left az-content-left-components">
        <div class="component-item">
        <label>Quản lý Music</label>
        <nav class="nav flex-column">            
            <a href="#" class="nav-link active">Thông tin chung</a>
            <a href="#" class="nav-link">Bình luận</a>
            @* <a href="#" class="nav-link active">Thể loại</a> *@

        </nav>

        </div><!-- component-item -->

    </div><!-- az-content-left -->
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
        <div class="az-content-breadcrumb">
        <span>Music</span>
        <span>Thông tin chung</span>
        <span>Chi Tiết</span>
        </div>


        

        <div class="row">
            <div class="col-md-12">
                <div >
                    ID: @Html.DisplayFor(model => model.ID)
                </div>
                <div >
                    Name: @Html.DisplayFor(model => model.Name)
                </div>
                <div >
                    Author: @Html.DisplayFor(model => model.Author)
                </div>
                <div >
                    Singers: @Html.DisplayFor(model => model.Singers)
                </div>
                <div >
                    Genres: @Html.DisplayFor(model => model.Genres)
                </div>
                <div >
                    Lyric: @Html.DisplayFor(model => model.Lyric)
                </div>
                <div >
                    Image: <img src="@Url.Content(@Model.MediaImageCoverURI)" alt="">
                </div>
                <div >
                    Content: 
                    <audio controls >
                        <source src="@Url.Content(@Model.MediaContentURI)" type="audio/mp3">
                        Your browser does not support the audio tag.
                    </audio>
                </div>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        <div class="ht-40"></div>










        <div class="az-footer mg-t-auto">
        <div class="container">
            <span>&copy; 2019 Azia Responsive Bootstrap 4 Dashboard Template</span>
        </div><!-- container -->
        </div><!-- az-footer -->
    </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
