@model IEnumerable<Lyzic.Models.Music>

@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
    <div class="az-content-left az-content-left-components">
        <div class="component-item">
        <label>Quản lý Music</label>
        <nav class="nav flex-column">            
            <a href="#" class="nav-link active">Thông tin chung</a>
            <a href="#" class="nav-link">Bình luận</a>
            @* <a href="#" class="nav-link active">Thể loại</a> *@

        </nav>

        </div><!-- component-item -->

    </div><!-- az-content-left -->
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
        <div class="az-content-breadcrumb">
        <span>Music</span>
        <span>Thông tin chung</span>
        </div>

        <div class="mg-b-10 mg-t-10">
            <a asp-action="Create" class="tx-15 span-buttons">
                <i class="typcn typcn-plus-outline"></i>
                <span class="mg-2"></span>
                <span>Thêm mới</span>  
            </a>
        </div>

        <div>
        <table id="example2" class="table">
            <thead>
            <tr>
                <th class="wd-25p">Tên Bài Hát</th>
                <th class="wd-20p">Tác giả</th>
                <th class="wd-20p">Ca sĩ</th>
                <th class="wd-15p">Ngày tạo</th>
                <th >Controll</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Singers)
                        </td>
                        <td class="text-nowrap">
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td class="d-flex justify-content-between flex-grow">
                            <a class="btn btn-light">
                                <i class="typcn icon typcn-eye text-primary"></i>
                            </a>
                            <a class="btn btn-light">
                                <i class="typcn icon typcn-edit text-info"></i> 
                            </a>
                            <a class="btn btn-light">
                                <i class="typcn icon typcn-delete-outline text-danger"></i> 
                            </a>
                            @* @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>

        <div class="ht-40"></div>

        <div class="az-footer mg-t-auto">
        <div class="container">
            <span>&copy; 2019 Azia Responsive Bootstrap 4 Dashboard Template</span>
        </div><!-- container -->
        </div><!-- az-footer -->
    </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->


<script>
    $(function(){
    'use strict'

    $('#example2').DataTable({
        responsive: true,
        language: {
        searchPlaceholder: 'Search...',
        sSearch: '',
        lengthMenu: '_MENU_ items/page',
        }
    });

    // Select2
    $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

    });
</script>
